body{
    background-color: #EFEFEF;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 80%;
    line-height: 1.5em;
    overflow-y: scroll;
}
a, strong,h1,h2{
    color:#900000;
}
h1,h2{
    font-family: "Comic Sans MS", Tahoma, Arial, Sans-Serif;
    font-weight: normal;
}
#header h1{
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    text-align: center;
}
.game-link-wrapper{
    margin-right:45px;
}
.game-link-wrapper.technos{
    margin-right:90px;
}
a.game-link{
    width:100%;
    padding-top:8px;
    padding-left:23px;
    padding-right:22px;
    padding-bottom:8px;
    display: block;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    text-align: center;
    background-color: white;
    border: 1px solid #900000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    height: 32px;
    min-height: 35px;
    vertical-align: middle;
    margin: 0px auto 7px;
    display: block;
}
a.game-link:hover,a.game-link.technos:hover{
    background-color: #900000;
    color:white;
}
a.game-link small{
    text-transform: none;
    font-weight: normal;
}
a.game-link.technos{
    padding-top:45px;
    padding-left:45px;
    padding-right:45px;
    padding-bottom:5px;
    background:url(img/logo_safari_32.png) no-repeat 1% 5%, 
        url(img/logo_firefox_32.png) no-repeat 99% 5%, 
        url(img/logo_chrome_32.png) no-repeat 50% 5%, 
        url(img/logo_apple_32.png) no-repeat 1% 95%,
        url(img/logo_android_32.png) no-repeat 99% 95%;
    background-color: white;
}
a.game-link.github{
    background-image: url(img/logo_github_32.png);
}
a.game-link.blog{
    background-image: url(img/logo_topheman_32.png);
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 539px){
    #header h1{
        background-image: url(../assets/img/topheman-bombs-bandeau-min.png);
        text-indent: -9999px;
        height: 74px;
        background-size: 320px 74px;
    }
    #tweet-this-link{
        position:absolute;
        top:105px;
        left:20px;
    }
    ul.no-indent{
        padding-left:0px;
    }
    ul.no-indent li{
        padding-left:0px;
    }
    ul.no-indent li:before{
        content: '- ';
    }
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 540px) {
    #header h1{
        background-image: url(../assets/img/topheman-bombs-bandeau.png);
        text-indent: -9999px;
        height: 125px;
    }
    #tweet-this-link{
        position:absolute;
        top:100px;
        left:30px;
    }
    #qr-code{
        display: block;
        width: 155px;
        height: 155px;
        background-image: url(../alternate/bombs-topheman-com-qrcode.png);
        float:right;
    }
}
/** swipe */
.swipe {
    padding-bottom:20px;
}
.swipe li div, .swipe div div div {
    margin:0 10px;
    padding:0px 10px;
    font-weight:bold;
    color:#fff;
    font-size:20px;
    text-align:center;
}
.swipe li div img{
    max-width: 100%;
}
footer ul{
    padding:0px;
}
footer nav {
    border-top:1px #3A4146 solid;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#900000), to(#C00000));
    background-image: -webkit-linear-gradient(top, #900000, #C00000);
    background-image:    -moz-linear-gradient(top, #900000, #C00000);
    background-image:     -ms-linear-gradient(top, #900000, #C00000);
    background-image:      -o-linear-gradient(top, #900000, #C00000);
    background-image:         linear-gradient(top, #900000, #C00000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#900000', EndColorStr='#C00000'); 
    height:35px;
    position:relative;
}
#position {
    text-align:center;
    font-size:27px;
    line-height:1.3;
    color:#697279;
    display:block;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-75px;
    width:150px;
}
#position em {
    display:inline-block;
    padding:0 3px;
    font-style:normal;
    text-shadow: 0 -1px 0 rgba(0,0,0,.35);
    font-family:sans-serif;
}
#position em.on {
    color:#fff;
}
#prev {
    border-right:1px white solid;
    display:inline-block;
    text-decoration:none;
    cursor: pointer;
}
#prev em {
    display:block;
    border-right:1px #30373C solid;
    padding:10px 13px 8px;
    font-style:normal;
    font-weight:bold;
    font-size:11px;
    text-transform:uppercase;
    color: white;
    letter-spacing:1px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.35);
}
#next {
    border-left:1px white solid;
    display:inline-block;
    text-decoration:none;
    position:absolute;
    right:0;
    top:0;
    cursor: pointer;
}
#next em {
    display:block;
    border-left:1px #30373C solid;
    padding:10px 13px 8px;
    font-style:normal;
    font-weight:bold;
    font-size:11px;
    text-transform:uppercase;
    color:white;
    letter-spacing:1px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.35);
}
#forkongithub a{background:#000;color:#fff;text-decoration:none;font-family:arial, sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}
#forkongithub a:hover{background:#900000;color:#fff;}
#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}
#forkongithub a::after{bottom:1px;top:auto;}
@media screen and (min-width:540px){
    #forkongithub{position:absolute;display:block;top:0;right:0;width:160px;overflow:hidden;height:150px;}
    #forkongithub a{width:150px;position:absolute;top:35px;right:-62px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);white-space:nowrap;}
}