<!DOCTYPE>
<html>
    <head>
        <title>Topheman Bombs v<%= version %> - build<%= buildNumber %></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name=viewport content="width=device-width,user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="./css/index.css" />
    </head>
    <body>

        <div id="container">
            <header id="header">
                <h1>Topheman Bombs</h1>
                <h2>Offline mode</h2>
                <p>Even if you're offline, you can still play !</p>
                <div id="intro" class="game-link-wrapper">
                    <a id="go-play" class="game-link" href="./game.html" title="Play Topheman Bombs in the browser">Play on your browser</a>
                </div>
            </header>
        </div>
        <script src="./js/index/script.js" type="text/javascript"></script>
    </body>
</html>